<?xml version='1.0' standalone='yes'?>
<polecat:config name="default" description="Default Able Polecat configuration file." author="Karl Kuhrman">
  <polecat:modules>
    <polecat:module name="FirePHP" decsription="FirePHP module for Able Polecat.">
    </polecat:module>
  </polecat:modules>
</polecat:config>