<?xml version='1.0' standalone='yes'?>
<config name="default" description="Default Able Polecat configuration file." author="Karl Kuhrman">
  <paths>
    <path name="libs">
      C:\path\to\AblePolecat\libs
    </path>
    <path name="logs">
      C:\path\to\AblePolecat\logs
    </path>
    <path name="mods">
      C:\path\to\AblePolecat\mods
    </path>
  </paths>
</config>